.name-spua {
  color: black;
  font-family: cursive;
  font-size: 40px;
}
.spua-border {
  color: black;
  font-family: cursive;
  font-size: 40px;
  position: relative;
  top: -60px;

}
.spua-content {
  color: black;
  font-family: cursive;
  font-size: 19px;
}
table {
  
  position: absolute;
  left: 1460px;
  top: 140px;
  font-family: cursive;
}
.spu {
  position: absolute;
  left: 1500px;
  top: 0px;
  font-family: cursive;
}